.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./../images/car_photo/banner.jpg');
    background-size: cover;
    height: 100vh;
    width: auto;
    background-position: center;
}