.card-vector{
    background-image: url('./../images/vector/Colored_version.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: top;
}   